body{
    background-color: lightcyan;
    color:black;
    font-family: 'Arial', sans-serif;
    font-size: large;
    margin: 0;
}
.container{
    border: 2px solid black;
    width: 500px;
    padding: 20px 20px 20px 20px;
    margin: 20px 100px 20px 500px;
    background-color: lightblue;
    color:blue;
    border-radius: 50px;
    box-shadow: 10px 10px 5px ;
}
.container:hover{
    box-shadow:15px 15px 10px grey;
    background-color: lightskyblue, lightseagreen;
}
.container input{
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid blue;
    background-color: antiquewhite;
    box-shadow: 10px 10px 10px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100px;
    font-style: normal;
    font-size: medium;
}
 
body{
    background-color: lightblue;
    margin: 0;
    background: linear-gradient(to right,rgb(154, 191, 204),white);
}
.navigation{
    background-color: lightgrey;
    padding: 20px;
    margin: 0px;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    font-size: larger;
}
.navigation a{
    padding-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}
.naviagtion input{
    margin-left: 20px;
    margin-right: 400px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid blue; 
}